
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&amp;display=swap");
@import url("http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css");
* {
    margin: 0;
    padding: 0;
  font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0px;
    background-color: #efeae2;
}
header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background: rgb(0 128 105);
    color: #fff;
    justify-content: space-between;
    padding: 7px 0px;
    z-index: 1;
    box-shadow: 0px 0px 4px 0px #07241f;
}
.left {
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 5px;
    margin-left: 15px;
    justify-content: flex-start;
    max-width: 80%;
}
.left i {
    font-size: 17px;
}
.left img {
    max-width: 40px;
    max-height: 40px;
    border-radius: 100%;
}
.text {
    max-width: 60%;
}
.text h1 {
    font-size: 15px;
    font-weight: 600;
    max-width: 100%;
    line-height: 25px;
}
.text p {
    font-size: 10px;
    max-width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
    column-gap: 20px;
    font-size: 18px;
}
.fa-phone-plus {
    color: #fff;
    opacity: 0.5;
}
main {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0px 15px;
}
.date {
    background: #f7ffff;
    padding: 3px 15px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 8px;
    color: #444;
    box-shadow: 0px 0px 1px 0px #00000021;
    text-align: center;
}
.privacy {
    text-align: center;
    background: #feeecc;
    padding: 7px 10px;
    font-size: 10px;
    color: #666;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 300;
}
.activity {
    font-weight: 400 !important;
    font-size: 10px !important;
    margin-top: 10px;
    padding: 7px 7px;
}
.users {
    width: 100%;
    margin-top: 15px;
}
.user {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    background: #fff;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 0px 10px 10px 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.user::before {
    content: "";
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    position: absolute;
    left: -12px;
    width: 15px;
    height: 20px;
    top: -0.2px;
    display: block;
    background: #fff;
}
.number {
    display: block;
    font-weight: 600;
    font-size: 13px;
    color: #f44336;
}
.message {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
}
.audio {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.audio i {
    font-size: 22px;
    color: #77777791;
    margin-bottom: 14px;
    margin-right: 10px;
    cursor: pointer;
}
.content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 5px;
}
.content img {
    opacity: 0.1;
    height: 30px;
}
.details {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    margin-top: 5px;
    color: #666;
}
.pic {
    position: relative;
    margin: 0px 5px;
    margin-left: 10px;
}
.pic img {
    max-width: 50px;
    max-height: 55px;
    border-radius: 100%;
}
.pic i {
    color: #1da959;
    text-shadow: 1px -1px 0px white, -1px -1px 0px #ffffff;
    position: absolute;
    left: 0;
    bottom: 6px;
}
.video {
    position: relative;
}
.video img {
    border-radius: 10px;
    max-width: 280px;
}
.videodetails {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    left: 0;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    color: #fff;
    font-size: 10px;
}
.videodetails p {
    margin-right: 10px;
}
.download {
    margin-left: 10px;
    background: #00000047;
    text-align: center;
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}
.forward {
    font-size: 14px;
    color: #777;
    margin-left: 3px;
    margin-bottom: 3px;
    display: block;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    background: #0000006e;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.info {
    background: #fff;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    position: relative;
    text-align: center;
    padding: 10px;
}
.profile {
    display: block;
    width: 64px;
    border-radius: 32px;
    margin: 15px auto;
}
.title {
    font-size: 20px;
    padding: 6px;
}
.created {
   font-size: 13px;
    color: #747272;
}
.reactions {
    direction: ltr;
    display: inline-flex;
    align-items: center;
    margin: 10px auto;
}
.reactions img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: content-box;
}
.like,
.love {
    margin-right: -5px;
    border: 2px solid #fff;
}
.love {
    z-index: 1;
}
.care {
    z-index: 2;
    border: 2px solid #fff;
}
.care1 {
    margin-left: -35px;
    z-index: 3;
}
.total {
    margin-left: -40px;
    z-index: 4;
    font-size: 14px;
    font-weight: 500;
}

#join,
#invite,
#get {
   display: block;
    width: 90%;
    height: 36px;
    color: #fff;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: bold;
   
    cursor: pointer;
    border-radius: 50px;
    padding: 0 10px;
    margin: 15px auto;
    background: #008069;
}
#join:hover {
    opacity: 0.8;
}
.talxjnt h1 {
    font-size: 19px;
    font-weight: 600;
}
.talxjnt p {
    color: #777;
    font-size: 13px;
    margin-top: 5px;
}
#share,
#offer {
    display: none;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar {
    direction: ltr;
    max-width: 400px;
    margin: 10px auto;
    box-sizing: border-box;
}
.fill {
    position: relative;
    display: inline-block;
    width: calc(100% - 100px);
    height: 13px;
    padding: 2px;
    border: 1px solid #16a085;
}
#fill {
    height: 100%;
    background-color: #00a884;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-size: 30px 30px;
    animation: move 2s linear infinite;
    box-shadow: 2px 0 10px inset rgba(0, 0, 0, 0.2);
    transition: width 2s ease-out;
    width: 0%;
    transition: width 0.5s;
}
@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 30px 30px;
    }
}
.percentage {
    width: 100px;
    float: right;
    height: 11px;
    font-size: 16px;
    color: #000;
   
}
#percentage {
    margin-left: 5px;
}
.loader {
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 50%;
    border: 4px solid #ccc;
    border-top-color: #1abc9c;
    animation: spin 1s infinite linear;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.last {
   font-weight: 600;
   color: #f44336;
    
}
